.footer {
    padding: 3rem 0;
    background-color: rgba($primary-red-light, 0.1);
    &__logo__container {
        width: 100%;
    }

    &__logo {
        width: 10rem;
        height: 10rem;
    }

    &__icon__container {
        display: inline-block;
        margin-left: 2rem;
    }

    &__icon {
        height: 3rem;
        width: 3rem;
        margin-right: 2rem;
    }

    &__icon__facebook:hover {
        fill: $primary-facebook;
        cursor: pointer;
    }

    &__icon__twitter:hover {
        fill: $primary-twitter;
        cursor: pointer;
    }

    &__icon__instagram:hover {
        fill: $primary-instagram;
        cursor: pointer;
    }

    &__icon__pinterest:hover {
        fill: $primary-pinterest;
        cursor: pointer;
    }

    &__copyright {
        font-size: 2rem;
    }
}